/* Google Font  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

/* Varibles CSS  */
:root {
  /* Colors  */
  --primary-color: #46a357;
  --heart-color: #ff6a6b;
  --heart-color-bg: #fff0f1;

  --primary-text: #33383c;
  --secondary-text: #838383;
  font-family: "Montserrat", sans-serif;
  font-size: 62.5%;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
